Question-2

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Reading the csv file and storing it in a dataframe called df
df = pd.read_csv('C:/Users/Kumar/OneDrive/Documents/Machine_Learning_Shahram/Classification Problem/gender_classification_v7.csv')
df

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [ ]:
df.columns

In [3]:
X = df[['long_hair', 'forehead_width_cm', 'nose_wide',
       'nose_long', 'lips_thin', 'distance_nose_to_lip_long', 'gender']]
    
y = df['forehead_height_cm']

In [4]:
n_cols = X.select_dtypes(include=np.number).columns.to_list()
c_cols = X.select_dtypes('object').columns.to_list()

In [5]:
n_cols, c_cols

(['long_hair',
  'forehead_width_cm',
  'nose_wide',
  'nose_long',
  'lips_thin',
  'distance_nose_to_lip_long'],
 ['gender'])

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(df[n_cols])
df[n_cols]=scaler.transform(df[n_cols])

In [7]:
from sklearn.preprocessing import LabelEncoder
df[c_cols] = LabelEncoder().fit_transform(df[c_cols])
df[c_cols]

      gender
0          1
1          0
2          1
3          1
4          0
...      ...
4996       0
4997       0
4998       0
4999       0
5000       1

[5001 rows x 1 columns]

In [8]:
X = df[n_cols + c_cols]
y = df['forehead_height_cm']

In [9]:
X

,long_hair,forehead_width_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1.0,0.097561,1.0,0.0,1.0,1.0,1
1,0.0,0.634146,0.0,0.0,1.0,0.0,0
2,0.0,0.097561,1.0,1.0,1.0,1.0,1
3,0.0,0.731707,0.0,1.0,1.0,1.0,1
4,1.0,0.512195,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...
4996,1.0,0.536585,0.0,0.0,0.0,0.0,0
4997,1.0,0.121951,0.0,0.0,0.0,0.0,0
4998,1.0,0.365854,0.0,0.0,0.0,0.0,0
4999,1.0,0.439024,0.0,0.0,0.0,0.0,0
5000,1.0,0.975610,1.0,1.0,1.0,1.0,1

In [10]:
y

0       6.1
1       5.4
2       6.3
3       6.1
4       5.9
       ...
4996    5.1
4997    5.4
4998    5.7
4999    6.2
5000    5.4
Name: forehead_height_cm, Length: 5001, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split
#ML Models
from sklearn.linear_model import LinearRegression

from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
#Tree
from sklearn.tree import DecisionTreeRegressor
# Ensembling Techniques
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor

#Scores & Metrics
from sklearn.model_selection import cross_val_score

In [12]:
X_train, X_test , y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=30)

In [13]:
model_reg = LinearRegression()
model_reg.fit(X_train, y_train)
#X_test = selector.transform(X_test)
predict = model_reg.predict(X_test)
print('Intercept is :',model_reg.intercept_)
print('Coefficient is :' ,model_reg.coef_)
print('Linear Regression Model Score -',model_reg.score(X_test,y_test))

Intercept is : 5.812985591324496
Coefficient is : [-0.01682166 -0.00517433  0.00049595 -0.04417315 -0.02650711  0.0246375
  0.34151256]
Linear Regression Model Score - 0.056885363303319725

In [14]:
np.mean((predict-y_test)**2)

0.2791156841243527

In [15]:
pd.DataFrame({'actual':y_test,
            'prediction':predict,
            'diff':(y_test-predict)})

      actual  prediction      diff
2192     5.1    5.794523 -0.694523
911      5.1    5.793640 -0.693640
3061     6.7    6.092003  0.607997
3382     5.2    5.794776 -0.594776
2939     6.3    5.751738  0.548262
...      ...         ...       ...
2430     5.9    5.796164  0.103836
856      6.2    6.065221  0.134779
3457     6.5    5.795533  0.704467
3550     6.5    5.795533  0.704467
1237     6.0    6.088352 -0.088352

[1001 rows x 3 columns]

In [16]:
dt_reg = DecisionTreeRegressor()
dt_reg.fit(X_train, y_train)
predict = dt_reg.predict(X_test)
print('Decision Tree Regressor Model Score -',dt_reg.score(X_test,y_test))

Decision Tree Regressor Model Score - -0.1767490231685389

In [17]:
sv_reg = SVR()
sv_reg.fit(X_train, y_train)
predict = dt_reg.predict(X_test)
print('Support Vector Regressor Model Score -',sv_reg.score(X_test,y_test))

Support Vector Regressor Model Score - 0.0425212028073082

In [19]:
ada_boost = AdaBoostRegressor(base_estimator=LinearRegression(), n_estimators=450)
ada_boost.fit(X_train, y_train)
predict = ada_boost.predict(X_test)
print('AdaBoost Regressor Model Score -',ada_boost.score(X_test,y_test))

AdaBoost Regressor Model Score - 0.054071921583892846